<h1>Week {{currentWeek}} NFL Games</h1>
<div *ngFor="let game of currentGames" class="container">
    <div class="row">
        <div class="col-sm">
            <img src="{{'../../assets/' + game.homeTeam + '.png'}}"/>
        </div> 
        <div class="col-sm teamText">
            {{game.homeTeam}}
        </div>
        <div class="col-sm teamText">
            {{game.homeScore}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="{{'../../assets/' + game.awayTeam + '.png'}}"/>
        </div> 
        <div class="col-sm teamText">
            {{game.awayTeam}}
        </div>
        <div class="col-sm teamText">
            {{game.awayScore}}
        </div>
    </div>
    <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <span class="quarterText"> {{game.quarter}} </span>
    </div>
    <div class="col-sm"></div>
    </div>
</div>